{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %} " />

    <title>Rahu Kal</title>
  </head>
  <style>
    #input_container {
      position: relative;
      margin: 0 20px;
      width: inherit;
    }
    #input {
      height: 20px;
      margin: 0;
      padding-right: 30px;
      width: 100%;
    }
    #input_img {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 24px;
      height: 24px;
    }
  </style>
  <body>
    <header>
      <a
        id="home-icon"
        class="col-lg-1 col-md-2 col-sm-2 col-xs-2"
        href=" {% url 'index' %} "
        ><img src="{% static 'assets/images/Capture.png'%}  " class="img-fluid"
      /></a>
    </header>
    <div class="form container">
      <form action="{% url 'city' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="search">
          <div id="input_container">
            <input
              type="text"
              name="city"
              id="search"
              placeholder="Enter city"
              autocomplete="off"
              value
            />
            <i class="fas fa-search-location fa-2x" id="input_img"></i>
          </div>
          <!--<input-->
          <!--  type="text"-->
          <!--  name="city"-->
          <!--  id="search"-->
          <!--  placeholder="Enter city"-->
          <!--  autocomplete="off"-->
          <!--/>-->
        </div>
        <input id="day" type="hidden" name="day" value="" />
        <input id="today" type="hidden" name="today" value="" />
        <div id="match-list"></div>
        <!--<button id="searchbtn" class="ml-3" type="button" onclick="sub()" >search</button>-->
      </form>
      <h1 class="pt-3"><b>Rahu kal</b></h1>
    </div>
    {% block content %}{% endblock content %}
    <div class="section2">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="d-flex flex-row add-comment-section mt-4 mb-4">
              <input
                type="text"
                class="form-control mr-3"
                placeholder="Add comment"
              />
              <button class="btn text-white" type="button">Comment</button>
            </div>

            <!-- Single Comment -->
            <div class="card p-3 mt-2">
              <div class="comments">
                <div class="d-flex flex-row comment-user">
                  <img
                    class="img-fluid img-responsive rounded-circle mr-2"
                    src="https://i.imgur.com/qdiP4DB.jpg"
                    width="38"
                  />
                  <div class="ml-2">
                    <div class="d-flex flex-row align-items-center">
                      <span class="name font-weight-bold">Deepak@200</span
                      ><span class="dot"></span
                      ><span class="date ml-3">30 Aug 2020</span>
                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at
                    its layout.
                  </p>
                </div>
              </div>
            </div>
            <div class="card p-3 mt-2">
              <div class="comments">
                <div class="d-flex flex-row comment-user">
                  <img
                    class="img-fluid img-responsive rounded-circle mr-2"
                    src="https://i.imgur.com/qdiP4DB.jpg"
                    width="38"
                  />
                  <div class="ml-2">
                    <div class="d-flex flex-row align-items-center">
                      <span class="name font-weight-bold">Deepak@200</span
                      ><span class="dot"></span
                      ><span class="date ml-3">30 Aug 2020</span>
                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at
                    its layout.
                  </p>
                </div>
              </div>
            </div>
            <div class="card p-3 mt-2">
              <div class="comments">
                <div class="d-flex flex-row comment-user">
                  <img
                    class="img-fluid img-responsive rounded-circle mr-2"
                    src="https://i.imgur.com/qdiP4DB.jpg"
                    width="38"
                  />
                  <div class="ml-2">
                    <div class="d-flex flex-row align-items-center">
                      <span class="name font-weight-bold">Deepak@200</span
                      ><span class="dot"></span
                      ><span class="date ml-3">30 Aug 2020</span>
                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at
                    its layout.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      var now = new Date();
      var days = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];

      var day = days[now.getDay()];
      document.getElementById("day").value = day;

      function formatDate(date) {
        var d = new Date(date),
          month = "" + (d.getMonth() + 1),
          day = "" + d.getDate(),
          year = d.getFullYear();

        if (month.length < 2) month = "0" + month;
        if (day.length < 2) day = "0" + day;

        return [year, month, day].join("-");
      }

      document.getElementById("today").value = formatDate(now);
    </script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script>
      var now = new Date();
      var days = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];

      var day = days[now.getDay()];
      document.getElementById("day").value = day;

      function formatDate(date) {
        var d = new Date(date),
          month = "" + (d.getMonth() + 1),
          day = "" + d.getDate(),
          year = d.getFullYear();

        if (month.length < 2) month = "0" + month;
        if (day.length < 2) day = "0" + day;

        return [year, month, day].join("-");
      }

      document.getElementById("today").value = formatDate(now);
    </script>
    <script src="{% static 'assets/js/test.js' %}"></script>
  </body>
</html>
