{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="header" class="p-2">
        <div class="row">
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 pt-5 ">
            <img src="{% static 'assets/images/Capture.png'%}  " class="img-fluid"   >
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
            <h4 class=" h4-color">Current time in your city : 02:16:21 pm</h4>
            <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 " style="height: 100px;">
               <h5 class=" rahu">Rahu kal</h5>
                <div class="row mt-3  ">
               <img src="{% static 'assets/images/compass.png'%}" class="img-fluid ml-3 " width="30">
               <h6 class="location">Location :<span style="color: #74A832;"> In- Delhi</span></h6>
             </div>
              <div class="row mt-2  ">
               <img src="{% static 'assets/images/calendar.png'%}" class="img-fluid ml-3 " width="30">
               <h6 class="location">Day sunday of - <span style="color: #74A832;"> 2021 - 01 -03</span></h6>
             </div>
               
              </div>
              <div class="col-lg-4 col-md-7 col-sm-7 col-xs-7 " style="height: 100px;">
                <h5 class="h5-color mt-5 ">Today</h5>
                <h6 class=" today p-2 ">04:41 pm   :   06:06 pm</h6>
               
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " style="height: 100px;">
                <h5 class="h5-color mt-5">Duration</h5>
                <h6 class="duration p-2">01 : 18 : 00</h6>
              </div>
              
            </div><!--
            <div class="row">
              <div class="row mt-5 ">
               <img src="images/compass.png" class="img-fluid ml-3 " width="30">
               <h6 class="location">Location :<span style="color: #74A832;"> In- Delhi</span></h6>
             </div>
               <div class="row mt-5 ml-5 ">
               <img src="images/calendar.png" class="img-fluid ml-3 " width="30">
               <h6 class="location">Day sunday of - <span style="color: #74A832;"> 2021 - 01 -03</span></h6>
             </div>
            </div>-->
            
          </div>

        </div>
      </div>
    </div>
    <div id="section1" class="container ">
      <div class="row">
        <div class="col-lg-7" >
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
          <div class="ad-box ">
          </div>
          <h5 class="h5-color ">About Rahu kal</h5>
          <p class="text-justify">

According to Vedic astrology Rahu is an inauspicious planet. During transition of planets the time under the influence of Rahu should be avoided to do any auspicious work. Doing Puja, Hawan or Yagya (यज्ञ) to propitiate auspicious.
</p>
        </div>
        <p>

According to Vedic astrology Rahu is an inauspicious planet. During transition of planets the time under the influence of Rahu should be avoided to do any auspicious work. Doing Puja, Hawan or Yagya (यज्ञ) to propitiate auspicious planets during this time is interfered by Rahu due to its malefic nature. If one does Puja, Hawan or Yagya during Rahu Kaal then desired results are not achieved. Hence it is important to consider Rahu Kaal before starting any new work. By doing so, possibility of achieving desired results is increased.

However any work related to Rahu gives good results during this period. Hawan, Yagya, etc. to propitiate Rahu can be done during this time.
According to Vedic astrology Rahu is an inauspicious planet. During transition of planets the time under the influence of Rahu should be avoided to do any auspicious work. Doing Puja, Hawan or Yagya (यज्ञ) to propitiate auspicious planets during this time is interfered by Rahu due to its malefic nature. If one does Puja, Hawan or Yagya during Rahu Kaal then desired results are not achieved. Hence it is important to consider Rahu Kaal before starting any new work. By doing so, possibility of achieving desired results is increased.

However any work related to Rahu gives good results during this period. Hawan, Yagya, etc. to propitiate Rahu can be done during this time.
According to Vedic astrology Rahu is an inauspicious planet

According to Vedic astrology Rahu is an inauspicious planet. During transition of planets the time under the influence of Rahu should be avoided to do any auspicious work. Doing Puja, Hawan or Yagya (यज्ञ) to propitiate auspicious planets during this time is interfered by Rahu due to its malefic nature. If one does Puja, Hawan or Yagya during Rahu Kaal then desired results are not achieved. Hence it is important to consider Rahu Kaal before starting any new work. By doing so, possibility of achieving desired results is increased.

However any work related to Rahu gives good results during this period. Hawan, Yagya, etc. to propitiate Rahu can be done during this time.
According to Vedic astrology Rahu is an inauspicious planet. During transition of planets the time under the influence of Rahu should be avoided to do any auspicious work. Doing Puja, Hawan or Yagya (यज्ञ) to propitiate auspicious planets during this time is interfered by Rahu due to its malefic nature. If one does Puja, Hawan or Yagya during Rahu Kaal then desired results are not achieved. Hence it is important to consider Rahu Kaal before starting any new work. By doing so, possibility of achieving desired results is increased.

However any work related to Rahu gives good results during this period. Hawan, Yagya, etc. to propitiate Rahu can be done during this time.
According to Vedic astrology Rahu is an inauspicious planet

According to Vedic astrology Rahu is an inauspicious planet. During transition of planets the time under the influence of Rahu should be avoided to do any auspicious work. Doing Puja, Hawan or Yagya (यज्ञ) to propitiate auspicious planets during this time is interfered by Rahu due to its malefic nature. If one does Puja, Hawan or Yagya during Rahu Kaal then desired results are not achieved. Hence it is important to consider Rahu Kaal before starting any new work. By doing so, possibility of achieving desired results is increased.

However any work related to Rahu gives good results during this period. Hawan, Yagya, etc. to propitiate Rahu can be done during this time.
According to Vedic astrology Rahu is an inauspicious planet. During transition of planets the time under the influence of Rahu should be avoided to do any auspicious work. Doing Puja, Hawan or Yagya (यज्ञ) to propitiate auspicious planets during this time is interfered by Rahu due to its malefic nature. If one does Puja, Hawan or Yagya during Rahu Kaal then desired results are not achieved. Hence it is important to consider Rahu Kaal before starting any new work. By doing so, possibility of achieving desired results is increased.

However any work related to Rahu gives good results during this period. Hawan, Yagya, etc. to propitiate Rahu can be done during this time.
According to Vedic astrology Rahu is an inauspicious planet</p>
{% endblock content %}
